.topnav {
  background-color: #F4CBC6;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F4AFAB;
  color: black;
}

.topnav a.active {
  background-color: lightskyblue;
  color: #F4AFAB;
}

.heyo {
  background-color: #F4CBC6;
  color: lightskyblue;
  margin: 50px;
  text-align: center;
}

.supbro {
  color: #F4AFAB;
  font-size: 100%;
  margin: 50px;
  text-align: center;
}

.aiiight {
  color: lightskyblue;
  text-align: center
}

table, th, td {
  color:  lightskyblue;
  border: 3px solid black;
  border-color: lightskyblue;
  border-collapse: collapse;
  background-color: #F4CBC6;
  margin: 25px
}

a:link {
  color: #3c3c3c;
  text-decoration: underline;
}

a:visited {
  color: #787878;
  text-decoration: underline;
}

footer {
  background-color: #F4CBC6;
  color: lightskyblue;
  text-align: center
}
