.heyo {
  background-color: #F4CBC6;
  color: lightskyblue;
  margin: 50px;
  text-align: center;
}

.supbro {
  color: #F4AFAB;
  font-size: 100%;
  margin: 50px;
  text-align: center;
}

.aiiight {
  color: lightskyblue;
  text-align: center
}

table, th, td {
  color:  lightskyblue;
  border: 3px solid black;
  border-color: lightskyblue;
  border-collapse: collapse;
  background-color: #F4CBC6;
  margin: 25px
}

a:link {
  color: #3c3c3c;
  text-decoration: underline;
}

a:visited {
  color: #787878;
  text-decoration: underline;
}

footer {
  background-color: #F4CBC6;
  color: lightskyblue;
  text-align: center
}
